<div class="notificacao-container">
  <h2>Enviar Notificação</h2>

  <form>
    <input
      [(ngModel)]="conteudo"
      name="conteudo"
      required
      placeholder="Digite a mensagem"
    />
    <button type="submit" (click)="enviar()">Enviar</button>
  </form>

  <ul class="lista">
    @for(n of notificacoes; track n.mensagemId) {
    <li>
      <strong>{{ n.mensagemId }}</strong
      ><br />
      {{ n.conteudoMensagem }}<br />
      <em>{{ n.status }}</em>
    </li>
    }
  </ul>
</div>
